day 21 of coding/pdf/vivek4thyearfee_copy_2.pdf
day 21 of coding/pdf/vivek4thyearfee_copy_3.pdf
day 21 of coding/pdf/vivek4thyearfee_copy_4.pdf
day 21 of coding/pdf/vivek4thyearfee_copy.pdf
day 21 of coding/pdf/vivek4thyearfee_copy_5.pdf
day 21 of coding/pdf/vivek4thyearfee.pdf
Exercises/credentials.py
